# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
venv/
env/
build/
dist/

# Logs
*.log

# Configuration files
config.json

# IDE/Editor configurations
.idea/
.vscode/
